*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya", serif;

}

/*hOME*/
.Home{
    background-image: url("./Image/drew-coffman-1872.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.layer{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.Home .NavBar{
    padding:20px;
    
}
.Navbar-logo{
    width: 10%;
    float: left;
    
}
.Navbar-logo img{
    width: 100%;
    
}
.Navbar-Links{
    float: right;
}
.Navbar-Links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}
.Home-Text{
    text-align: center;
    color: white;
    margin: auto;
    padding: 30px;
    
}

.Home-Text h1{
    margin:20px;
    font-size: 55px;
    font-weight: bold;
    font-family: "Alegreya", serif;

}
.Home-Text p{
    font-family:"Alegreya", serif;
    font-size: 24px;
    padding: 10px;
}

.btn{
margin: 20px;
padding: 10px;
color: white;
font-size: 14px;
padding: 10px 17px;
}

.btn1{
background-color:  #8e7754;
border: #8e7754 solid 2px;
}

.bt2{
    
background-color: transparent;
border: #ffffff solid 2px;
border-radius: 5px;
}

/* about */
.About{
    margin: 40px;
    padding: 20px; 


}

.Aboutimg{
    width: 40%;
    background-color: #f8f8f8;
    
}
.Aboutimg img{
    width: 100%;
    float: left;
}
.aboutText{
    
    margin: auto;
    width: 50%;
    float: right;
    color: #686868;
    
}
.aboutText h2{
    
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
    color: black;
}
.aboutText ul{
    color: #686868;
    list-style: none;
}
.aboutText li{
    padding: 20px;
    color: #686868;
}


/* location */
.Location{
    margin: 30px;
    padding: 20px;
    background: #f8f8f8;
}
.Location-Text{
float:left;
width: 40%;
margin: 5%;

}
.Location-Text h2{
margin: 30px;
font-size: 32px;
}
.Location-Text p{
    margin:30px ;
    color: #686868;
}
.locaton-img{
width: 40%;
float: right;
}
.locaton-img img{
    width: 100%;
}

.OurBaking_text{
    text-align: center;
    color: rgb(8, 7, 7);
    padding-bottom: 20px;
}
.ourBaking h2{
    font-size: 30px;
}
.container{
    width: 80%;
    margin: auto;
    
}
.BakingGallaryMember{

width: 33.33333333%;
float: left;
text-align: center;
color: #686868;

}
.BakingGallaryMember img{
    width: 90%;
}
.bakerytext{
    width: 90%;
    text-align: center;
}
.BakingGallaryMember h3{
    color: black;
}

.clear-fix{
    clear: both;;
}

/* Contact Information */
.Contact-info{
    background: #f8f8f8;
    padding: 30px;
    margin: 40px;
}

.containerInfo{
    /* background-color: rgb(43, 34, 221); */
    padding: 30px ;
    margin: auto;
    width: 80%;
}
.contactText{
    float: left;
    width: 50%;
}
.contactText h2{
    font-weight: 100;
}
.contactText p{
    padding: 20px 15px ;

}
.contactText ol{
    padding:20px;
}
.contactText li{
    padding: 20px;
    list-style: none;
}
.LocationMap{
    float: right;
}
.footer{
    background-color:rgb(70, 68, 68);
    color: #969696;
    padding: 20px;

    
}
.container_footer{
    width: 90%;
    margin: auto;

}
.sections{
    float: left;
    width: 25%;
    padding: 20px;
}

.inner h3{
    color: #f8f8f8;
    font-weight: 100;
    padding: 20px;
    font-size: 18px;
}
.inner p{
    color: #969696;
    font-size: 16px;
    padding: 20px;
}

/* .Backcondetails{
    background-image: url(./Image/contact-details-map.png);
} */

.sectionList{
    color: #969696;
    font-size: 16px;
    text-align: center;

}
.sectionList h3{
    color:#ffffff;
    padding: 20px;
}
.sectionList li{
    list-style: none;
    padding: 10px;
}
.sectionList li::before{
    content: "\00BB"; 
}
.sectionList hr{
    border-top: 0.5px solid rgb(255, 255, 255,0.1)
}

.footerlast{
    background-color: #686868;
    
}
.footerlogo{

    width: 70%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.footerlast p{
    padding: 20px;
    font-size: larger;
    text-align: center;
}
.footelinks{
    margin: auto;
    width: 20%;
    
    
}
.links{
    float: left;
    margin: auto;
    padding: 40px;
}
@media screen and (min-width:0px) and(max-width:599px) {
    body{
        background-color: #8e7754;
    }
    
}